.footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
  
.footer h1 {
    font-size: 1rem;
    font-weight: normal;
    color: white;
}

.footer a {
    color: white;
}