.hero {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: center;
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 5%; /* Adiciona espaçamento da borda esquerda */
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.heroText {
    z-index: 2;
    color: white;
    text-align: left; /* Alinha o texto à esquerda */
    max-width: 30%; /* Limita a largura do texto */
}

.heroText h1 {
    font-size: 4.0rem;
    font-weight: bolder;
    color: #F7931E;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.heroText p {
    font-size: 4.0rem;
    margin-top: 0.5rem;
    line-height: 1.5;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
