.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #1A1A1A;
    color: white;
}
  
.logo img {
    width: 45px;
}
  
.nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}
  
.nav li {
    font-size: 1.2rem;
}
  
.nav a {
    text-decoration: none;
    color: white;
    padding: 0.6rem; /* Define o padding fixo */
    transition: background-color 0.3s ease, color 0.3s ease; /* Apenas altera cor e fundo no hover */
    display: inline-block; /* Garante que o padding funcione */
}
  
.nav a:hover {
    background-color: #F7931E;
    color: #ffdfd3;
}
